In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
import openpyxl
import warnings
warnings.filterwarnings("ignore")

* all_vars contains the dataframe with all of the variables
* all_riders contains all of the ridership in all time periods
* full_fare_riders contains the ridership counts for full fare riders split by time period

In [2]:
all_vars = pd.read_csv('Outputs/allvars_dataframe_new.csv', index_col=0)
all_riders = pd.read_excel('../Data Preprocessing/All Ridership/output/all_ridership.xlsx', index_col=0)
full_fare_riders = pd.read_excel("../Data Preprocessing/Ridership Data/output/full_fare_ridership.xlsx", index_col=0)

# All Ridership Merge

In [3]:
all_riders.head()

         ID      ID_1 START_PLACE_NAME          END_PLACE_NAME  COUNT
0  MSTN_001  MSTN_002        Anacostia  Archives-Navy Memorial   1418
1  MSTN_001  MSTN_003        Anacostia            Benning Road    156
2  MSTN_001  MSTN_004        Anacostia               Brookland    425
3  MSTN_001  MSTN_005        Anacostia           Capitol South    146
4  MSTN_001  MSTN_006        Anacostia          Cleveland Park    124

In [4]:
all_riders['pairs'] = all_riders.apply(lambda x: str(x['ID'])+str(0)+str(x['ID_1']), axis=1)
all_riders.rename(columns={'COUNT':'passengers'}, inplace=True)
all_riders  = all_riders[['pairs', 'passengers']]

In [5]:
all_riders_vars = all_riders.merge(all_vars, on = 'pairs', how = 'left')

In [6]:
all_riders_vars.to_excel('Outputs/all_riders_vars_dataframe.xlsx')

In [7]:
all_riders_vars.shape

(8187, 148)

# AM Peak Ridership Merge

In [8]:
full_fare_riders['pairs'] = full_fare_riders.apply(lambda x: str(x['ID'])+str(0)+str(x['ID_1']), axis=1)
full_fare_riders.rename(columns={'COUNT':'passengers'}, inplace=True)

In [9]:
am_full_fare = full_fare_riders[full_fare_riders['period']=='AM Peak']
am_full_fare.head()

,ID,ID_1,START_PLACE_NAME,END_PLACE_NAME,period,passengers,pairs
0,MSTN_001,MSTN_002,Anacostia,Archives-Navy Memorial,AM Peak,436,MSTN_0010MSTN_002
4,MSTN_001,MSTN_003,Anacostia,Benning Road,AM Peak,12,MSTN_0010MSTN_003
8,MSTN_001,MSTN_004,Anacostia,Brookland,AM Peak,77,MSTN_0010MSTN_004
12,MSTN_001,MSTN_005,Anacostia,Capitol South,AM Peak,2,MSTN_0010MSTN_005
15,MSTN_001,MSTN_006,Anacostia,Cleveland Park,AM Peak,23,MSTN_0010MSTN_006

In [10]:
am_full_fare = am_full_fare[['pairs', 'passengers']]

In [11]:
am_full_fare_vars = am_full_fare.merge(all_vars, on = 'pairs', how = 'left')

In [12]:
am_full_fare_vars.to_excel('Outputs/am_full_fare_vars_dataframe.xlsx')

# PM Peak Ridership Merge

In [13]:
pm_full_fare = full_fare_riders[full_fare_riders['period']=='PM Peak']
pm_full_fare.head()

,ID,ID_1,START_PLACE_NAME,END_PLACE_NAME,period,passengers,pairs
3,MSTN_001,MSTN_002,Anacostia,Archives-Navy Memorial,PM Peak,99,MSTN_0010MSTN_002
7,MSTN_001,MSTN_003,Anacostia,Benning Road,PM Peak,20,MSTN_0010MSTN_003
11,MSTN_001,MSTN_004,Anacostia,Brookland,PM Peak,43,MSTN_0010MSTN_004
14,MSTN_001,MSTN_005,Anacostia,Capitol South,PM Peak,2,MSTN_0010MSTN_005
17,MSTN_001,MSTN_006,Anacostia,Cleveland Park,PM Peak,4,MSTN_0010MSTN_006

In [14]:
pm_full_fare = pm_full_fare[['pairs', 'passengers']]

In [15]:
pm_full_fare_vars = pm_full_fare.merge(all_vars, on = 'pairs', how = 'left')

In [16]:
pm_full_fare_vars.to_excel('Outputs/pm_full_fare_vars_dataframe.xlsx')

# Off Peak Ridership Merge

In [17]:
off_full_fare = full_fare_riders[full_fare_riders['period']=='Off Peak']
off_full_fare.head()

,ID,ID_1,START_PLACE_NAME,END_PLACE_NAME,period,passengers,pairs
1,MSTN_001,MSTN_002,Anacostia,Archives-Navy Memorial,Off Peak,206,MSTN_0010MSTN_002
5,MSTN_001,MSTN_003,Anacostia,Benning Road,Off Peak,19,MSTN_0010MSTN_003
9,MSTN_001,MSTN_004,Anacostia,Brookland,Off Peak,42,MSTN_0010MSTN_004
13,MSTN_001,MSTN_005,Anacostia,Capitol South,Off Peak,31,MSTN_0010MSTN_005
16,MSTN_001,MSTN_006,Anacostia,Cleveland Park,Off Peak,13,MSTN_0010MSTN_006

In [18]:
off_full_fare = off_full_fare[['pairs', 'passengers']]

In [19]:
off_full_fare_vars = off_full_fare.merge(all_vars, on = 'pairs', how = 'left')

In [20]:
off_full_fare_vars.to_excel('Outputs/off_full_fare_vars_dataframe.xlsx')