In [1]:
import pandas as pd
import numpy as np

* ridership_data contains all of the trip information from April-May 2022 provided by WMATA

In [3]:
ridership_data = pd.concat(pd.read_excel("../../Data/railTrips-Apr-May2022.xlsx", sheet_name=None), ignore_index=True)

* Combine end point and start point of stations while having different entrances
* Remove trips where the start and end station are the same
* Group by the start and end locations and sum the passengers and export to get the passengers

In [4]:
ridership_data['START_PLACE_NAME'] = ridership_data['START_PLACE_NAME'].replace({'Anacostia, N': 'Anacostia', 'Anacostia, S':'Anacostia',
                          'Dupont Circle, N':'Dupont Circle','Dupont Circle, S':'Dupont Circle',
                          'Farragut North, NE':'Farragut North', 'Farragut North, NW':'Farragut North', 'Farragut North, SE':'Farragut North',
                          'Farragut West, E':'Farragut West','Farragut West, W':'Farragut West',
                          'Friendship Heights, N':'Friendship Heights','Friendship Heights, S':'Friendship Heights',
                          'Gallery Place-Chinatown, E':'Gallery Place-Chinatown','Gallery Place-Chinatown, N':'Gallery Place-Chinatown','Gallery Place-Chinatown, W':'Gallery Place-Chinatown',
                          'Huntington, N':'Huntington','Huntington, S':'Huntington',
                          'Judiciary Square, E':'Judiciary Square','Judiciary Square, W':'Judiciary Square',
                          'King Street, N':'King Street',
                          "L'Enfant Plaza, E":"L'Enfant Plaza","L'Enfant Plaza, N":"L'Enfant Plaza","L'Enfant Plaza, W":"L'Enfant Plaza",
                          "McPherson Square, E":"McPherson Square","McPherson Square, W":"McPherson Square",
                          "Metro Center, E":"Metro Center","Metro Center, W":"Metro Center","Metro Center, S":"Metro Center","Metro Center, N":"Metro Center",
                          "Navy Yard, E":"Navy Yard","Navy Yard, W":"Navy Yard",
                          "New York Ave. E":"New York Ave","New York Ave. W":"New York Ave",
                          "Shaw-Howard University, N":"Shaw-Howard University","Shaw-Howard University, S":"Shaw-Howard University",
                          "Silver Spring, N":"Silver Spring","Silver Spring, S":"Silver Spring",
                          "Smithsonian, N":"Smithsonian","Smithsonian, S":"Smithsonian",
                          "Stadium-Armory, N":"Stadium-Armory","Stadium-Armory, S":"Stadium-Armory",
                          "U Street-Cardozo, E":"U Street-Cardozo","U Street-Cardozo, W":"U Street-Cardozo",
                          "Union Station, N":"Union Station","Union Station, S":"Union Station",
                          "Rosslyn East":"Rosslyn",
                          "Farragut North":"Farragut","Farragut West":"Farragut",
                           "Reagan Washington National Airport, N":"Reagan Washington National Airport","Reagan Washington National Airport, S":"Reagan Washington National Airport"                                                     
      })


ridership_data['END_PLACE_NAME'] = ridership_data['END_PLACE_NAME'].replace({'Anacostia, N': 'Anacostia', 'Anacostia, S':'Anacostia',
                          'Dupont Circle, N':'Dupont Circle','Dupont Circle, S':'Dupont Circle',
                          'Farragut North, NE':'Farragut North', 'Farragut North, NW':'Farragut North', 'Farragut North, SE':'Farragut North',
                          'Farragut West, E':'Farragut West','Farragut West, W':'Farragut West',
                          'Friendship Heights, N':'Friendship Heights','Friendship Heights, S':'Friendship Heights',
                          'Gallery Place-Chinatown, E':'Gallery Place-Chinatown','Gallery Place-Chinatown, N':'Gallery Place-Chinatown','Gallery Place-Chinatown, W':'Gallery Place-Chinatown',
                          'Huntington, N':'Huntington','Huntington, S':'Huntington',
                          'Judiciary Square, E':'Judiciary Square','Judiciary Square, W':'Judiciary Square',
                          'King Street, N':'King Street',
                          "L'Enfant Plaza, E":"L'Enfant Plaza","L'Enfant Plaza, N":"L'Enfant Plaza","L'Enfant Plaza, W":"L'Enfant Plaza",
                          "McPherson Square, E":"McPherson Square","McPherson Square, W":"McPherson Square",
                          "Metro Center, E":"Metro Center","Metro Center, W":"Metro Center","Metro Center, S":"Metro Center","Metro Center, N":"Metro Center",
                          "Navy Yard, E":"Navy Yard","Navy Yard, W":"Navy Yard",
                          "New York Ave. E":"New York Ave","New York Ave. W":"New York Ave",
                          "Shaw-Howard University, N":"Shaw-Howard University","Shaw-Howard University, S":"Shaw-Howard University",
                          "Silver Spring, N":"Silver Spring","Silver Spring, S":"Silver Spring",
                          "Smithsonian, N":"Smithsonian","Smithsonian, S":"Smithsonian",
                          "Stadium-Armory, N":"Stadium-Armory","Stadium-Armory, S":"Stadium-Armory",
                          "U Street-Cardozo, E":"U Street-Cardozo","U Street-Cardozo, W":"U Street-Cardozo",
                          "Union Station, N":"Union Station","Union Station, S":"Union Station",
                           "Rosslyn East":"Rosslyn",
                          "Farragut North":"Farragut","Farragut West":"Farragut",
                        "Reagan Washington National Airport, N":"Reagan Washington National Airport",
                        "Reagan Washington National Airport, S":"Reagan Washington National Airport"
                                                                            })
ridership_data['START_PLACE_NAME'].unique()

array(['Cheverly', "Prince George's Plaza", 'Takoma', 'West Falls Church',
       'Arlington Cemetery', 'Greensboro', 'New Carrollton',
       'Shaw-Howard University', 'Greenbelt', 'Branch Avenue',
       'Potomac Avenue', 'Braddock Road', 'Silver Spring', 'Landover',
       'Judiciary Square', 'Largo Town Center', 'West Hyattsville',
       'Shady Grove', 'Rhode Island Avenue', 'Stadium-Armory', 'Vienna',
       'Glenmont', 'Franconia-Springfield', 'Rockville', 'Huntington',
       'Addison Road', 'Suitland', 'Farragut West', 'Morgan Blvd.',
       'Forest Glen', "L'Enfant Plaza", 'Wheaton', 'Eisenhower Avenue',
       'Wiehle', 'Capitol Heights', 'Crystal City', 'Dunn Loring',
       'Van Dorn Street', 'Van Ness-UDC', 'Naylor Road', 'Benning Road',
       'Southern Avenue', 'Friendship Heights', 'Twinbrook',
       'College Park-U of MD', 'Fort Totten', 'King Street', 'Pentagon',
       'Anacostia', 'White Flint', 'New York Ave', 'East Falls Church',
       'Reagan Washington National Airport', 'U Street-Cardozo',
       'Court House', 'Minnesota Avenue', 'Spring Hill', 'Deanwood',
       'Pentagon City', 'McLean', 'Clarendon', 'Union Station',
       'Tysons Corner', 'Eastern Market', 'Foggy Bottom',
       'Virginia Square-GMU', 'Waterfront', 'Ballston',
       'Georgia Avenue-Petworth', 'Grosvenor', 'Navy Yard',
       'Congress Heights', 'Gallery Place-Chinatown', 'Brookland',
       'Columbia Heights', 'Medical Center', 'Capitol South',
       'McPherson Square', 'Rosslyn', 'Archives-Navy Memorial',
       'Metro Center', 'Bethesda', 'Tenleytown-AU',
       'Mt. Vernon Square-UDC', 'Cleveland Park', 'Smithsonian',
       'Farragut North', 'Dupont Circle', 'Federal Center SW',
       'Woodley Park-Zoo', 'Federal Triangle'], dtype=object)

In [5]:
ridership_data = ridership_data[ridership_data['START_PLACE_NAME'] != ridership_data['END_PLACE_NAME']]

* Get the total trip time for each trip as a timedelta data type
* Get the total trip time for each trip in seconds
* Divide the trip time in seconds by 60 to get the trip time in minute

In [6]:
ridership_data['trip_time'] = ridership_data["END_TIME"] - ridership_data['START_TIME']

In [7]:
ridership_data['trip_time_secs'] = ridership_data['trip_time'].dt.total_seconds()

In [8]:
ridership_data['trip_time_mins'] = ridership_data['trip_time_secs'] / 60

In [9]:
ridership_data['trip_time_mins'].head()

0    34.550000
1    22.566667
2    20.733333
3    20.733333
4    14.533333
Name: trip_time_mins, dtype: float64

* Create a grouby object with the start and end station IDs and names
* Summarize to get the average trip time in mins and the total number of passengers
* Create a pairs column for easy merging
* Export only the pairs and trip_time_mins columns

In [10]:
the_group = ridership_data.groupby(["ID", "ID_1","START_PLACE_NAME","END_PLACE_NAME"])
all_riders = the_group.agg({'trip_time_mins': np.mean}).reset_index()
all_riders['COUNT'] = the_group.size().reset_index(name = 'COUNT')['COUNT']
all_riders
#all_riders.to_excel("output/all_ridership.xlsx")

,ID,ID_1,START_PLACE_NAME,END_PLACE_NAME,trip_time_mins,COUNT
0,MSTN_001,MSTN_002,Anacostia,Archives-Navy Memorial,18.423072,1418
1,MSTN_001,MSTN_003,Anacostia,Benning Road,40.364957,156
2,MSTN_001,MSTN_004,Anacostia,Brookland,41.718431,425
3,MSTN_001,MSTN_005,Anacostia,Capitol South,23.641438,146
4,MSTN_001,MSTN_006,Anacostia,Cleveland Park,38.703360,124
...,...,...,...,...,...,...
8182,MSTN_091,MSTN_086,Wiehle,Morgan Blvd.,85.645274,67
8183,MSTN_091,MSTN_087,Wiehle,McLean,29.043024,841
8184,MSTN_091,MSTN_088,Wiehle,Tysons Corner,24.039563,2721
8185,MSTN_091,MSTN_089,Wiehle,Greensboro,22.129439,843
8186,MSTN_091,MSTN_090,Wiehle,Spring Hill,20.903743,895

In [11]:
all_riders['pairs'] = all_riders.apply(lambda x: str(x['ID'])+str(0)+str(x['ID_1']), axis=1)

In [12]:
all_riders[['pairs', 'trip_time_mins']].to_excel("output/metro_swipecard_tt.xlsx")