In [3]:
from functools import reduce
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
from geopandas.tools import overlay
import warnings
warnings.filterwarnings('ignore')

#### Read in dataset and shapefiles.

- Walkshedbuffer is data of buffer around the walksheds without overlapping <br/><br/>

- Household_MD data on household in Maryland <br/><br/>
- Household_DC data on household in DC <br/><br/>
- Household_VA data on household in Virginia <br/><br/>
- all_boundaries is shapefile of counties that metro lines passed from them

In [4]:
walkshedbuffer = gpd.read_file("../../Data/walksheds_overlapping.zip")
Household_MD = pd.read_excel ("../../Data/MD_DECENNIALPL2020.H1-Data.xlsx")
Household_DC = pd.read_excel ("../../Data/DC_DECENNIALPL2020.H1-Data.xlsx")
Household_VA = pd.read_excel ("../../Data/VA_DECENNIALPL2020.H1-Data.xlsx")
all_boundaries = gpd.read_file("../../Data/MD_DC_VA/Block MD_DC_VA.shp")

#### Preprocessing

 - merge the three Housholds MD, DC, and VA to one file

In [5]:
dataframes = [Household_MD, Household_DC, Household_VA]

Housholds_merge = reduce(lambda left, right: pd.merge(left, right, how='outer'), dataframes)

- remove 1000000US from GEOID20 column
- rename GEO_ID of household's table to GEOID20, ID name in block shapefile of DC, MD, VA
- join household file to boundary

In [6]:
Housholds_merge['GEO_ID'] = Housholds_merge['GEO_ID'].str.replace('1000000US', '')
Housholds_merge.rename(columns = {'GEO_ID':'GEOID20'}, inplace = True)
Housholds_merge.rename(columns = {'H1_001N':'Total Households'}, inplace = True)

Join_household_Boundaries=Join_household_Boundaries=pd.merge(all_boundaries,Housholds_merge, on="GEOID20", how='outer')

In [7]:
Join_household_Boundaries.head(2)

,STATEFP20,COUNTYFP20,TRACTCE20,BLOCKCE20,GEOID20,NAME20,ALAND20,AWATER20,INTPTLAT20,INTPTLON20,...,Shape_Leng,Shape_Area,geometry,NAME,Total Households,H1_001NA,H1_002N,H1_002NA,H1_003N,H1_003NA
0,24,031,700204,1016,240317002041016,Block 1016,2882692.0,10982.0,+39.3110468,-077.1894440,...,0.077830,0.000302,"POLYGON ((-77.17597 39.31191, -77.17622 39.311...","Block 1016, Block Group 1, Census Tract 7002.0...",110,NaN,103,NaN,7,NaN
1,24,031,705902,1008,240317059021008,Block 1008,112639.0,502.0,+38.9700155,-077.1364633,...,0.021442,0.000012,"POLYGON ((-77.13358 38.97015, -77.13326 38.969...","Block 1008, Block Group 1, Census Tract 7059.0...",52,NaN,48,NaN,4,NaN

- fix coordinate system of metro buffer and Join_household_Boundaries
- find the full area of the boundaries before the intersection
- intersect households within 0.5 miles of metro station
- find the partial area of the intersected boundaries to get the proportional area
- find proportion of houses within the walkshed

In [8]:
walkshedbuffer= walkshedbuffer.to_crs ('EPSG:4326')
Join_household_Boundaries = Join_household_Boundaries.to_crs ('EPSG:4326')

In [9]:
Join_household_Boundaries['fullarea'] = Join_household_Boundaries.area

In [10]:
intersect_stations_households = walkshedbuffer.overlay(Join_household_Boundaries, how="intersection")

In [11]:
intersect_stations_households['partialarea'] = intersect_stations_households.area

In [12]:
intersect_stations_households['proportionarea'] = intersect_stations_households['partialarea'] / intersect_stations_households['fullarea']
intersect_stations_households['proportionhouses'] = intersect_stations_households['proportionarea'] * intersect_stations_households['Total Households']

In [13]:
## 97 stations
# intersect_stations_households['Name_1'].unique()

In [14]:
intersect_stations_households['Name_1']=intersect_stations_households['Name_1'].str.replace(' : 0 - 2640','') 
intersect_stations_households['Name_1']=intersect_stations_households['Name_1'].str.replace(' : 0 - 22.4525758392805','') 
# intersect_stations_households['Name_1']

In [15]:
Sum_households_bufstation = intersect_stations_households.groupby(['Name_1'])[['proportionhouses']].apply(sum)
Sum_households_bufstation.head(3)

                                     proportionhouses
Name_1
ADDISON ROAD-SEAT PLEASANT                 529.032225
ANACOSTIA                                 2076.692445
ARCHIVES-NAVY MEMORIAL-PENN QUARTER       2215.020592

In [16]:
total_households_bufstation= intersect_stations_households.groupby(['Name_1'])[['Total Households']].apply(sum)
Sum_households_bufstation['Total Households'] = total_households_bufstation['Total Households']

In [17]:
Sum_households_bufstation.reset_index(inplace=True)
Sum_households_bufstation['Name_1'] = Sum_households_bufstation['Name_1'].str.title()
Sum_households_bufstation['Name_1'] = Sum_households_bufstation['Name_1'].replace({"Addison Road-Seat Pleasant": 'Addison Road', "Archives-Navy Memorial-Penn Quarter":"Archives", "Ballston-Mu": "Ballston-MU", "Brookland-Cua":"Brookland-CUA", "Dunn Loring-Merrifield": "Dunn Loring", "Largo Town Center":"Downtown Largo", "Eisenhower Avenue":"Eisenhower Ave", 'Federal Center Sw':'Federal Center SW', "Foggy Bottom-Gwu":"Foggy Bottom-GWU","Gallery Pl-Chinatown":"Gallery Place", "Mclean":"McLean", "Mcpherson Square":"McPherson Sq", "Mt Vernon Sq 7Th St-Convention Center":"Mt Vernon Sq", "Noma-Gallaudet":"NoMa-Gallaudet U", "Rhode Island Ave-Brentwood":"Rhode Island Ave",  "Prince George'S Plaza":"Hyattsville Crossing", "Tenleytown-Au": "Tenleytown-AU", "Tysons Corner":"Tysons", "U Street/African-Amer Civil War Memorial/Cardozo": "U Street", "Southern Avenue": "Southern Ave", "Van Ness-Udc":"Van Ness-UDC", "Virginia Square-Gmu":"Virginia Sq-GMU", "Vienna/Fairfax-Gmu":"Vienna", "Washington Dulles International Airport":"Dulles Airport", "West Falls Church-Vt/Uva":"West Falls Church", "Woodley Park-Zoo/Adams Morgan":"Woodley Park", "White Flint":"North Bethesda", "College Park-U Of Md": 'College Park-U of Md' })
# Sum_households_bufstation['Name_1'].unique()

In [18]:
mstns = pd.read_excel("../../Data/mstn_id_to_stn_name.xlsx")
Sum_households_bufstation = Sum_households_bufstation.merge(mstns, right_on = 'PRIMARY_NAME_FY23', left_on = 'Name_1')
Sum_households_bufstation.head()

,Name_1,proportionhouses,Total Households,ID,PRIMARY_NAME_FY23
0,Addison Road,529.032225,1663,MSTN_062,Addison Road
1,Anacostia,2076.692445,3639,MSTN_001,Anacostia
2,Archives,2215.020592,3007,MSTN_002,Archives
3,Arlington Cemetery,0.003139,1,MSTN_065,Arlington Cemetery
4,Ashburn,555.616854,936,MSTN_097,Ashburn

In [19]:
Sum_households_bufstation.to_excel("output/walkshed_proportional_households_stations.xlsx", sheet_name='num of households_stations', index=True)