In [1]:
import pandas as pd

#### Load Required Data

* ridership_data contains the OD trip information provided by WMATA

In [2]:
#ridership_data = pd.concat(pd.read_excel("../../Data/railTrips_Apr-May2022 _original.xlsx", sheet_name=None), ignore_index=True)
ridership_data = pd.concat(pd.read_excel("../../Data/railTrips-Apr-May2022.xlsx", sheet_name=None), ignore_index=True)
ridership_data.shape

(5863504, 13)

#### Data Preprocessing

* Rename station names with multiple entrances
* Get the day of the week from the start time of each trip (Monday=0 ,... Sunday=6 ### Date =0, Monday / Date=4, Thursday)
* Filter the ridership data for only weekdays (Date = 0-4)
* Seprate times and dates from the start time and end times. Time is in timestamps and needs to be converted to 24 hours format; for example 4 pm converts to 16
* Set start time as the index and assign AM, PM and Off-Peak Periods based on the start and end times of the trip
* Set end time as the index and assign AM, PM and Off-Peak Periods based on the start and end times of the trip
* Remove late night from period start and period end

In [3]:
ridership_data['START_PLACE_NAME'] = ridership_data['START_PLACE_NAME'].replace({'Anacostia, N': 'Anacostia', 'Anacostia, S':'Anacostia',
                          'Dupont Circle, N':'Dupont Circle','Dupont Circle, S':'Dupont Circle',
                          'Farragut North, NE':'Farragut North', 'Farragut North, NW':'Farragut North', 'Farragut North, SE':'Farragut North',
                          'Farragut West, E':'Farragut West','Farragut West, W':'Farragut West',
                          'Friendship Heights, N':'Friendship Heights','Friendship Heights, S':'Friendship Heights',
                          'Gallery Place-Chinatown, E':'Gallery Place-Chinatown','Gallery Place-Chinatown, N':'Gallery Place-Chinatown','Gallery Place-Chinatown, W':'Gallery Place-Chinatown',
                          'Huntington, N':'Huntington','Huntington, S':'Huntington',
                          'Judiciary Square, E':'Judiciary Square','Judiciary Square, W':'Judiciary Square',
                          'King Street, N':'King Street',
                          "L'Enfant Plaza, E":"L'Enfant Plaza","L'Enfant Plaza, N":"L'Enfant Plaza","L'Enfant Plaza, W":"L'Enfant Plaza",
                          "McPherson Square, E":"McPherson Square","McPherson Square, W":"McPherson Square",
                          "Metro Center, E":"Metro Center","Metro Center, W":"Metro Center","Metro Center, S":"Metro Center","Metro Center, N":"Metro Center",
                          "Navy Yard, E":"Navy Yard","Navy Yard, W":"Navy Yard",
                          "New York Ave. E":"New York Ave","New York Ave. W":"New York Ave",
                          "Shaw-Howard University, N":"Shaw-Howard University","Shaw-Howard University, S":"Shaw-Howard University",
                          "Silver Spring, N":"Silver Spring","Silver Spring, S":"Silver Spring",
                          "Smithsonian, N":"Smithsonian","Smithsonian, S":"Smithsonian",
                          "Stadium-Armory, N":"Stadium-Armory","Stadium-Armory, S":"Stadium-Armory",
                          "U Street-Cardozo, E":"U Street-Cardozo","U Street-Cardozo, W":"U Street-Cardozo",
                          "Union Station, N":"Union Station","Union Station, S":"Union Station",
                          "Rosslyn East":"Rosslyn",
                          "Farragut North":"Farragut","Farragut West":"Farragut",
                           "Reagan Washington National Airport, N":"Reagan Washington National Airport","Reagan Washington National Airport, S":"Reagan Washington National Airport"                                                     
      })


ridership_data['END_PLACE_NAME'] = ridership_data['END_PLACE_NAME'].replace({'Anacostia, N': 'Anacostia', 'Anacostia, S':'Anacostia',
                          'Dupont Circle, N':'Dupont Circle','Dupont Circle, S':'Dupont Circle',
                          'Farragut North, NE':'Farragut North', 'Farragut North, NW':'Farragut North', 'Farragut North, SE':'Farragut North',
                          'Farragut West, E':'Farragut West','Farragut West, W':'Farragut West',
                          'Friendship Heights, N':'Friendship Heights','Friendship Heights, S':'Friendship Heights',
                          'Gallery Place-Chinatown, E':'Gallery Place-Chinatown','Gallery Place-Chinatown, N':'Gallery Place-Chinatown','Gallery Place-Chinatown, W':'Gallery Place-Chinatown',
                          'Huntington, N':'Huntington','Huntington, S':'Huntington',
                          'Judiciary Square, E':'Judiciary Square','Judiciary Square, W':'Judiciary Square',
                          'King Street, N':'King Street',
                          "L'Enfant Plaza, E":"L'Enfant Plaza","L'Enfant Plaza, N":"L'Enfant Plaza","L'Enfant Plaza, W":"L'Enfant Plaza",
                          "McPherson Square, E":"McPherson Square","McPherson Square, W":"McPherson Square",
                          "Metro Center, E":"Metro Center","Metro Center, W":"Metro Center","Metro Center, S":"Metro Center","Metro Center, N":"Metro Center",
                          "Navy Yard, E":"Navy Yard","Navy Yard, W":"Navy Yard",
                          "New York Ave. E":"New York Ave","New York Ave. W":"New York Ave",
                          "Shaw-Howard University, N":"Shaw-Howard University","Shaw-Howard University, S":"Shaw-Howard University",
                          "Silver Spring, N":"Silver Spring","Silver Spring, S":"Silver Spring",
                          "Smithsonian, N":"Smithsonian","Smithsonian, S":"Smithsonian",
                          "Stadium-Armory, N":"Stadium-Armory","Stadium-Armory, S":"Stadium-Armory",
                          "U Street-Cardozo, E":"U Street-Cardozo","U Street-Cardozo, W":"U Street-Cardozo",
                          "Union Station, N":"Union Station","Union Station, S":"Union Station",
                           "Rosslyn East":"Rosslyn",
                          "Farragut North":"Farragut","Farragut West":"Farragut",
                        "Reagan Washington National Airport, N":"Reagan Washington National Airport",
                        "Reagan Washington National Airport, S":"Reagan Washington National Airport"
                                                                            })

In [4]:
ridership_data['Date'] = ridership_data['START_TIME'].dt.dayofweek

In [5]:
ridership_data = ridership_data[ridership_data['Date']<5]
ridership_data.head()

,SVC_DATE,SUBSYSTEM,START_PLACE_NAME,ID,START_TIME,END_PLACE_NAME,ID_1,END_TIME,FARE_INSTRUMENT_ID,DESCRIPTION,RIDER_CLASS,FUND_TYPE,FARE_CENTS,Date
0,2022-04-15,Metrorail,Cheverly,MSTN_058,2022-04-15 03:32:01,Bethesda,MSTN_052,2022-04-15 04:06:34,65647,"Metro Employee Pass, EMPLOYEE",Employee,Self Funded,0,4
1,2022-04-15,Metrorail,Prince George's Plaza,MSTN_054,2022-04-15 03:44:46,Farragut North,MSTN_012,2022-04-15 04:07:20,65647,"Metro Employee Pass, EMPLOYEE",Employee,Self Funded,0,4
2,2022-04-15,Metrorail,Takoma,MSTN_034,2022-04-15 03:51:59,College Park-U of MD,MSTN_053,2022-04-15 04:12:43,65647,"Metro Employee Pass, EMPLOYEE",Employee,Self Funded,0,4
3,2022-04-15,Metrorail,Takoma,MSTN_034,2022-04-15 03:52:13,College Park-U of MD,MSTN_053,2022-04-15 04:12:57,65647,"Metro Employee Pass, EMPLOYEE",Employee,Self Funded,0,4
4,2022-04-15,Metrorail,West Falls Church,MSTN_059,2022-04-15 03:59:33,Dunn Loring,MSTN_067,2022-04-15 04:14:05,16512,"Stored Value, EMPLOYEE",Employee,Self Funded,0,4

In [6]:
#ridership_data['Start_Time'] = pd.to_datetime(ridership_data['START_TIME'], format='%I:%M:%S %p').dt.strftime('%H:%M:%S')
#ridership_data['End_Time'] = pd.to_datetime(ridership_data['END_TIME'], format='%I:%M:%S %p').dt.strftime('%H:%M:%S')

In [7]:
ridership_data['Start_date'] = [d.date() for d in ridership_data['START_TIME']]
ridership_data['Start_time'] = [d.time() for d in ridership_data['START_TIME']]
ridership_data['End_date'] = [d.date() for d in ridership_data['END_TIME']]
ridership_data['End_time'] = [d.time() for d in ridership_data['END_TIME']]
ridership_data.head()

,SVC_DATE,SUBSYSTEM,START_PLACE_NAME,ID,START_TIME,END_PLACE_NAME,ID_1,END_TIME,FARE_INSTRUMENT_ID,DESCRIPTION,RIDER_CLASS,FUND_TYPE,FARE_CENTS,Date,Start_date,Start_time,End_date,End_time
0,2022-04-15,Metrorail,Cheverly,MSTN_058,2022-04-15 03:32:01,Bethesda,MSTN_052,2022-04-15 04:06:34,65647,"Metro Employee Pass, EMPLOYEE",Employee,Self Funded,0,4,2022-04-15,03:32:01,2022-04-15,04:06:34
1,2022-04-15,Metrorail,Prince George's Plaza,MSTN_054,2022-04-15 03:44:46,Farragut North,MSTN_012,2022-04-15 04:07:20,65647,"Metro Employee Pass, EMPLOYEE",Employee,Self Funded,0,4,2022-04-15,03:44:46,2022-04-15,04:07:20
2,2022-04-15,Metrorail,Takoma,MSTN_034,2022-04-15 03:51:59,College Park-U of MD,MSTN_053,2022-04-15 04:12:43,65647,"Metro Employee Pass, EMPLOYEE",Employee,Self Funded,0,4,2022-04-15,03:51:59,2022-04-15,04:12:43
3,2022-04-15,Metrorail,Takoma,MSTN_034,2022-04-15 03:52:13,College Park-U of MD,MSTN_053,2022-04-15 04:12:57,65647,"Metro Employee Pass, EMPLOYEE",Employee,Self Funded,0,4,2022-04-15,03:52:13,2022-04-15,04:12:57
4,2022-04-15,Metrorail,West Falls Church,MSTN_059,2022-04-15 03:59:33,Dunn Loring,MSTN_067,2022-04-15 04:14:05,16512,"Stored Value, EMPLOYEE",Employee,Self Funded,0,4,2022-04-15,03:59:33,2022-04-15,04:14:05

In [8]:
ridership_data.set_index('START_TIME', inplace=True)
ridership_data.loc[ridership_data.between_time('05:00:00','9:30:00').index,'Period_start']='AM Peak'
ridership_data.loc[ridership_data.between_time('15:00:00','19:00:00').index,'Period_start']='PM Peak'
ridership_data.loc[ridership_data.between_time('9:31:00','14:59:59').index,'Period_start']='Off Peak'
ridership_data.loc[ridership_data.between_time('19:01:00','21:30:00').index,'Period_start']='Off Peak'
ridership_data.loc[ridership_data.between_time('21:31:00','04:59:59').index,'Period_start'] ='late night'

In [9]:
ridership_data.set_index('END_TIME', inplace=True)
ridership_data.loc[ridership_data.between_time('05:00:00','9:30:00').index,'Period_end']='AM Peak'
ridership_data.loc[ridership_data.between_time('15:00:00','19:00:00').index,'Period_end']='PM Peak'
ridership_data.loc[ridership_data.between_time('9:31:00','14:59:59').index,'Period_end']='Off Peak'
ridership_data.loc[ridership_data.between_time('19:01:00','21:30:00').index,'Period_end']='Off Peak'
ridership_data.loc[ridership_data.between_time('21:31:00','04:59:59').index,'Period_end'] ='late night'

In [10]:
ridership_data = ridership_data[ridership_data.Period_end!= 'late night']
ridership_data = ridership_data[ridership_data.Period_start!= 'late night']

* Create and apply a function that categorizes each trip into AM Peak, PM Peak and Off Peak and Other based on the start and end periods
* Create an integer key of the two type of funds which are smart benefits and self funded
* Keep rows where the origin and destination stations are not same

In [11]:
def determine_period(row):
    if row['Period_start'] == 'AM Peak' and row['Period_end'] in ['AM Peak', 'Off Peak']:
        return 'AM Peak'
    elif row['Period_start'] == 'PM Peak' and row['Period_end'] in ['PM Peak', 'Off Peak']:
        return 'PM Peak'
    elif row['Period_start'] == 'Off Peak' and row['Period_end'] in ['Off Peak', 'PM Peak']:
        return 'Off Peak'
    else:
        return 'Other'

ridership_data['period'] = ridership_data.apply(determine_period, axis=1)

In [12]:
Value_fund = {'Self Funded': 1,
            'SmartBenefits' : 2 }
ridership_data['Transit_benefit'] = ridership_data['FUND_TYPE'].map(Value_fund)

In [13]:
## keep rows while origin and destination stations are not same ####
ridership_data = ridership_data[ridership_data['START_PLACE_NAME'] != ridership_data['END_PLACE_NAME']]

## Filter Specific Rider Classes

In [14]:
ridership_data['RIDER_CLASS'].unique()

array(['Full Fare', 'Senior/Disabled', nan, 'Employee', 'Student'],
      dtype=object)

In [15]:
ridership_data['DESCRIPTION'].unique()

array(['Stored Value, FULL_FARE', 'Bus Rail Unlimited Pass-$3.75 Level',
       'Stored Value, Senior', 'SmartBenefits Transit Non-Rollover',
       'Stored Value, Disabled', 'University Spring Pass',
       'Stored Value, MAC Conditional',
       'MTA Transit Link Card (TLC) Pass',
       'SmartBenefits Transit Transfer', 'Stored Value, DC Student',
       'Bus Rail Unlimited Pass-$6.00 Level',
       'SmartBenefits Transit Rollover', 'Metro Employee Pass, EMPLOYEE',
       '7-Day Rail Short Trip Pass FULL_FARE',
       'Bus Rail Unlimited Pass-$2.50 Level',
       'Bus Rail Unlimited Pass-$4.00 Level',
       'Bus Rail Unlimited Pass-$4.50 Level',
       'MetroAccess PCA Pass FULL_FARE', 'DC Student Pass Thru Pass',
       'Bus Rail Unlimited Pass-$2.75 Level',
       '7-Day Rail Fast Pass FULL_FARE',
       'Bus Rail Unlimited Pass-$4.25 Level',
       'MARC Transit Link Card (TLC) Pass',
       'Bus Rail Unlimited Pass-$5.00 Level',
       'Bus Rail Unlimited Pass-$3.00 Level', 'Stored Value, EMPLOYEE',
       'SmartBenefits Transit Credit',
       'Bus Rail Unlimited Pass-$2.25 Level',
       'Bus Rail Unlimited Pass-$3.25 Level',
       '1-Day Bus Rail Combo Pass FULL_FARE',
       '3-Day Bus Rail Combo Pass FULL_FARE',
       'Bus Rail Unlimited Pass-$5.25 Level',
       'Bus Rail Unlimited Pass-$3.50 Level',
       'Bus Rail Unlimited Pass-$2.00 Level',
       'Bus Rail Unlimited Pass-$4.75 Level',
       'Bus Rail Unlimited Pass-$5.75 Level', 'ART Student, Stored Value',
       'Metro Access Pass Thru Pass', 'MCRO ST SV', 'Police Pass',
       'Bus Rail Unlimited Pass-$5.50 Level',
       'Rail and Bus Metro Select Pass (MSP)-$3.75 Level',
       'VRE Transit Link Card (TLC) Pass',
       'Personal Care Attendant Pass, FULL_FARE',
       'Stored Value, WMATA Retiree', 'Unlimited Pass-365 Day',
       'StoredValue, STATION_MGR', 'University Summer Pass'], dtype=object)

* Get full fare riders without transit benefits by filtering for when the Description column is "Stored Value, FULL_FARE"
* Get full fare riders with transit benefits by filtering for when the transit benefit is 2 and the rider class is full fare
* Get senior/disabled riders without transit benefits by filtering for where the rider class is senior/disabled and the transit benefit is 1
* Get senior/disabled riders with transit benefits by filtering for where the rider class is senior/disabled and the transit benefit is 2
* Get student riders with or without transit benefits by filtering for where the rider class is student
* Get an "all riders" class by concatenating full fare riders without transit benefits, full-fare riders with transit benefits and senior/disabled riders without transit benefits

In [16]:
#full fare riders without transit benefits
full_fare = ridership_data[ridership_data['DESCRIPTION'] =="Stored Value, FULL_FARE"]

In [17]:
#full fare riders with only transit benefits
transit_only = ridership_data[(ridership_data['Transit_benefit'] == 2) & (ridership_data['RIDER_CLASS']=='Full Fare')]

In [18]:
#senior/disabled without transit benefits
seniors = ridership_data[(ridership_data['RIDER_CLASS'] == 'Senior/Disabled') & (ridership_data['Transit_benefit'] == 1)]

In [19]:
#senior/disabled with transit benefits
senior_benefits = ridership_data[(ridership_data['RIDER_CLASS'] == 'Senior/Disabled') & (ridership_data['Transit_benefit'] == 2)]

In [20]:
#students with or without transit benefits
students = ridership_data[(ridership_data['RIDER_CLASS'] == 'Student')]

In [21]:
#full fare, senior, transit benefits combined
all_riders = pd.concat([full_fare, seniors, transit_only])

#### Group by, summarize and Export

* For each of 4 of the rider classes (full fare riders without transit benefits, full-fare riders with transit benefits and senior/disabled riders without transit benefits, all riders), groupby the start and end station names and IDs and the time period
* Export

In [22]:
full_fare=full_fare.groupby(["ID", "ID_1","START_PLACE_NAME","END_PLACE_NAME", "period"]).size().reset_index(name="COUNT")
full_fare.to_excel("output/full_fare_ridership.xlsx")

In [23]:
transit_only=transit_only.groupby(["ID", "ID_1","START_PLACE_NAME","END_PLACE_NAME", "period"]).size().reset_index(name="COUNT")
transit_only.to_excel("output/transit_only_ridership.xlsx")

In [24]:
seniors=seniors.groupby(["ID", "ID_1","START_PLACE_NAME","END_PLACE_NAME", "period"]).size().reset_index(name="COUNT")
seniors.to_excel("output/senior_only_ridership.xlsx")

In [25]:
all_riders=all_riders.groupby(["ID", "ID_1","START_PLACE_NAME","END_PLACE_NAME", "period"]).size().reset_index(name="COUNT")
all_riders.to_excel("output/all_ridership.xlsx")